
.titulo, .noticiasecontato {
    margin-left: 3.125rem;
    margin-right: 3.125rem;
}

h2 {
    font-size: 4.375rem;
    line-height: 10.7rem;
    color: #000000;

    text-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    font-family: 'Abel', sans-serif;
}

h3 {
    font-size: 3.125rem;
    line-height: 5.2rem;
    
    color: #FFFFFF;
    
    text-shadow: 0rem 0.3rem 0.3rem rgba(0, 0, 0, 0.25);
    font-family: 'Abel', sans-serif;
}

/*NOTICIAS*/

.noticiasecontato {
    display: flex;
}

.noticiaunica{
    display: flex;
    
    margin-top: 1.25rem;
    padding-top: 0.25rem;
}

h4 {
    font-size: 1.9rem;
    line-height: 3.2rem;
    color: #000000;
    text-align: center;

    font-family: 'Abel', sans-serif;
}

.texto p{
    font-size: 1.5rem;
    line-height: 1.9rem;
    text-align: center;

    color: #000000;
    font-family: 'Abel', sans-serif;

}

.texto a {
    font-size: 1.5rem;
    line-height: 1.9rem;

    color: #A81D1D;
    font-family: 'Abel', sans-serif;

    margin-left: 15.6rem;

    text-decoration: none;
}

/*FORMULÁRIO*/

.contato{
    background-color: #A81D1D;
    width: 25rem;
    height: 50rem;

    margin-left: 1.25rem;
}

.contato h3 {
    text-align: center;
}


form label, form legend{
	display: block;
	font-size: 1.25rem;
	margin: 0 3.125rem 0.625rem;
    color: #FFFFFF;

    text-shadow: 0rem 0.125rem 0.125rem rgba(0, 0, 0, 0.25);
}

.input-padrao {
	margin: 0 3.125rem 1.25rem;
	padding: 0.625rem 1.563rem;
	width: 50%;
    background: #C4C4C4;
    border-radius: 0.625rem;
}

.enviar {
	width: 50%;
	padding: 0.625rem 0;
    color: #000000;	
    font-weight: bold;
	font-size: 0.938rem;
	border: none;
	transition: 1s all;
	cursor: pointer;
    background: #C4C4C4;
    border-radius: 1.25rem;

	margin: 0 6.25rem;
}

.enviar:hover {
	background: darkorange;
	transform: scale(1.2);
}
