
.introducao, .comidas-grid {
    margin-left: 3.2rem;
    margin-right: 3.2rem;
}

.introducao p {
    font-family: 'Abel', sans-serif;

    font-size: 1.75rem;
    line-height: 2.25rem;
    text-align: justify;
    text-indent: 3.2rem;

    padding-left: 3%;
    padding-right: 3%;
}

.comidas-grid {
    margin-top: 1.9rem;
}

.comida {
    display: flex;
    margin-top: 3.2rem;
}

.comida img {
    border-radius: 0.625;
}

.comida h2{
    font-size: 2.5rem;
    line-height: 5.6rem;
    font-family: 'Abel', sans-serif;
}

.comida p{
    font-family: 'Abel', sans-serif;
    font-size: 1.25rem;
    line-height: 1.9rem;
    text-align: justify;
    text-indent: 3.2rem;
}

