header {
	background: #A81D1D;
	padding: 1.25rem 0;
}

.caixa {
	position: relative;
	width: 59rem;
	margin: 0 auto;
    display: flex;
    
}

nav {
	right: 0;
    vertical-align: top;
    margin-left: 45%; 
}

nav li {
	display: inline;
	margin: 0 0 0 0.938rem;
    float: left;

}

nav a {
	color: #FFFFFF;
	font-size: 22px;
	text-decoration: none;
    font-family: 'Abel', sans-serif;
}

/* Banner */
.bannerprincipal {
    position: relative;
}

.bannerprincipal img {
    width: 100vw;
}

.tituloprincipal {
    color: #FFFFFF;
    font-size: 6.25rem;

    text-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);

    font-family: 'Abel', sans-serif;
    position: absolute;
    text-align: center;
    top: 29rem;
    right: 6.25rem;
}


/*BODY*/
.nometexto-direita{
    padding-left: 2%;
}
.nometexto-esquerda{
    padding-right: 2%;
}

/*FOOTER*/

.rodapelinha img{
    margin-top: 2.5rem;
    width: 100%;
}

.rodapelinha {
    position: relative;
}

.copyright {
    color: #FFFFFF;
    font-size: 1.25rem;

    font-family: 'Abel', sans-serif;
    position: absolute;
    text-align: center;
    top: 90%;
    left: 40%;
}

#navbar {
    padding-top: 0.25rem;
    overflow: hidden;
    background-color: #A81D1D;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 3%;
    text-decoration: none;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

