.pontosturisticos {
    margin-left: 3.2rem;
    margin-right: 3.2rem;
}

h2{
    font-size: 3.2rem;
    line-height: 5.75rem;
    font-family: 'Abel', sans-serif;
}

h3 {
    font-size: 1.6rem;
    line-height: 5.75rem;
    font-family: 'Abel', sans-serif;
}

.pontosturisticos p{
    font-family: 'Abel', sans-serif;

    font-size: 1.6rem;
    line-height: 2.5rem;
    text-align: justify;
    text-indent: 3.2rem;
}

.pontosturisticos img {
    width: 100%;
    margin-bottom: 0.625rem;
}

/*ABA EVENTOS*/

.eventos {
    background-color: #A81D1D;

    margin-top: 5rem;
    padding: 3%;
}

.atracoes {
    display: flex;
    text-align: center;
    justify-content: space-around;

}


.eventos h2 {
    font-size: 3.2rem;
    line-height: 5.75rem;
    font-family: 'Abel', sans-serif;

    color: white;
}

.atracao h5 {
    font-size: 1.25rem;
    font-family: 'Abel', sans-serif;
    color: white;

}

.eventos p{
    font-size: 0.938rem;
    font-family: 'Abel', sans-serif;
    color: white;

}