.pontosturisticos {
    margin-left: 50px;
    margin-right: 50px;
}

h2{
    font-size: 50px;
    line-height: 92px;
    font-family: 'Abel', sans-serif;
}

h3 {
    font-size: 25px;
    line-height: 92px;
    font-family: 'Abel', sans-serif;
}

.pontosturisticos p{
    font-family: 'Abel', sans-serif;

    font-size: 25px;
    line-height: 40px;
    text-align: justify;
    text-indent: 50px;
}

.pontosturisticos img {
    width: 100%;
    margin-bottom: 10px;
}

/*ABA EVENTOS*/

.eventos {
    background-color: #A81D1D;

    margin-top: 80px;
    padding: 3%;
}

.atracoes {
    display: flex;
    text-align: center;
    justify-content: space-around;

}


.eventos h2 {
    font-size: 50px;
    line-height: 92px;
    font-family: 'Abel', sans-serif;

    color: white;
}

.atracao h5 {
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    color: white;

}

.eventos p{
    font-size: 15px;
    font-family: 'Abel', sans-serif;
    color: white;

}